.card {
    display: grid;
    justify-content: center;
    gap: .5em;
    position: relative;

    width: 75vw;
    max-width: 20em;

    @include for-mobile-layout {
        width: 70vw;
        max-width: 15em;

    }

    // opacity: 0.2;
    padding: 2em;
    border-radius: 1.5em;

    color: $clr-font-gray7;
    text-align: center;
    background-color: $clr-bg-light-1;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

    z-index: 2;

    .card-details {
        margin-block-start: 4em;
        width: 100%;
    }

    .links {
        display: grid;
        gap: 1em;
        align-items: center;
        margin-block-start: 2.5em;
        justify-content: center;

        .social-media-links {
            display: flex;
            justify-content: center;
            gap: 1em;
        }
    }

    // transition: 1s ease;

    // &:hover {
    //     transform: scale(1.02);
    // }

    // &.fade-in {
    //     opacity: 1;
    //     transition: opacity 2s ease;
    // }

    .inspiration-sentence {
        position: absolute;
        bottom: -200px;
        left: 50%;
        transform: translateX(-50%);

        font-family: 'fuzzy-bubbles-regular';
        width: 20em;
        font-size: 1rem;
        // font-family: 'reenie-beanie-regular';
        text-shadow: 2px 2px 10px rgba(3, 3, 3, 0.836);
        color: $clr-font-gray1;

        @include for-mobile-layout {
            bottom: -130px;
        }
    }

    .inspiration-sentence::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 15px;
        background-color: #fff;
        margin-left: 4px;
        animation: blink 0.8s infinite;
    }

    /* Hide the cursor when typing is finished */
    .inspiration-sentence:not(.typing)::after {
        content: none;
    }

    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }
}

.card::after {
    content: '';
    position: absolute;
    display: block;

    width: 150px;
    height: 150px;
    background-image: url('https://res.cloudinary.com/dvykycdey/image/upload/v1742227702/gal-my-web_djtmk7.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 3px solid $clr-bg-light-1;

    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}