.introduction {
    position: relative;
    height: 100vh;
    width: 100%;

    display: grid;
    justify-content: center;
    align-items: center;

    background-image: url('https://res.cloudinary.com/dvykycdey/image/upload/v1742221832/gal-intro-main-cover_db5cip.jpg');

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 90%;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        z-index: 3;

        .nav-links {
            display: flex;
            gap: 1em;

        }
    }

    .logo {
        opacity: 0.2;

        &.fade-in {
            opacity: 1;
            transition: opacity 2s ease;
        }
    }
}

.introduction::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}