@font-face {
    font-family: 'mukta-regular';
    src: url('/font/Mukta/Mukta-Regular.ttf');
}

@font-face {
    font-family: 'mukta-light';
    src: url('/font/Mukta/Mukta-Light.ttf');
}

@font-face {
    font-family: 'mukta-medium';
    src: url('/font/Mukta/Mukta-Medium.ttf');
}

@font-face {
    font-family: 'mukta-extra-bold';
    src: url('/font/Mukta/Mukta-ExtraBold.ttf');
}