@font-face {
    font-family: 'noto-sans-regular';
    src: url('/font/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'noto-sans-medium';
    src: url('/font/Noto_Sans/NotoSans-Medium.ttf');
}

@font-face {
    font-family: 'noto-sans-light';
    src: url('/font/Noto_Sans/NotoSans-Light.ttf');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('/font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'roboto-medium';
    src: url('/font/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'roboto-light';
    src: url('/font/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'roboto-extra-bold';
    src: url('/font/Roboto/Roboto-ExtraBold.ttf');
}