@font-face {
    font-family: 'noto-sans-regular';
    src: url('/font/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'noto-sans-medium';
    src: url('/font/Noto_Sans/NotoSans-Medium.ttf');
}

@font-face {
    font-family: 'noto-sans-bold';
    src: url('/font/Noto_Sans/NotoSans-Bold.ttf');
}

@font-face {
    font-family: 'noto-sans-light';
    src: url('/font/Noto_Sans/NotoSans-Light.ttf');
}